@import "tailwindcss";

@theme {
  --color-primary: #5F6FFF;
}

.active hr{
    @apply block;
}

.learn-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 15rem;
}

.learn-btn .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  width: 3rem;
  height: 3rem;
  background: #333fe2;
  border-radius: 1.625rem;
}

.learn-btn .circle .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.learn-btn .circle .arrow {
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.learn-btn .circle .arrow::before {
  content: "";
  position: absolute;
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid white;
  border-right: 0.125rem solid white;
  transform: rotate(45deg);
}

.learn-btn .button-text {
  position: absolute;
  inset: 0;
  padding: 0.75rem 0;
  margin-left: 1.85rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #343546;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.learn-btn:hover .circle {
  width: 100%;
}

.learn-btn:hover .circle .arrow {
  background: white;
  transform: translateX(1rem);
}

.learn-btn:hover .button-text {
  color: white;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease forwards;
}
